<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Book My Show Automation" verbose="1" >
  <test name="Regression" >
    <classes>
      <class name="com.gautam.appium.appium_mobile.BookMyShow"/>
      <class name="com.gautam.appium.appium_mobile.MoviesHome"/>
      </classes>
 </test>
</suite>
